# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project settings
.idea

# MacOS
*.DS_Store

# ET Demands model folders
et_demands_v2_0_0.zip
et-demands-2.0.0